# Database Configuration
MYSQL_ROOT_PASSWORD=mysql_root_password_here
DATABASE_PASSWORD=your_db_password_here

# Rails Configuration
#
#   How to check for the master key:
#   1. from the file
#
#     cat config/master.key
#
#   2. from rails console
#
#     rails console
#     > Rails.application.credentials.secret_key_base
RAILS_MASTER_KEY=your_rails_master_key_here

# API Configuration
API_MODE=false
