<div class="container">

  <div class="ui raised segment" style="padding-bottom: 5em;">
    <h1 class="title"><%= raw(@title) %></h1>

    <div class="ui six stackable cards column grid masonry">
      <% @entries.each do |entry| %>
          <%= render :partial => 'shared/entry', :locals => { :entry => entry } %>
      <% end %>
    </div>
    <nav id="page-nav">
      <%= link_to_next_page @entries, "Next", params: params, rel: "next" %>
    </nav>

    <div class="page-load-status">
      <p class="infinite-scroll-request loader-ellips">
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
          <span class="loader-ellips__dot"></span>
      </p>
      <p class="infinite-scroll-last"></p>
      <p class="infinite-scroll-error"></p>
    </div>

  </div>
</div>

