#bottom-editarea {
    position: fixed;
    bottom: 40px;
    right: 20px;
    color: rgba(0,0,0,.5);
    margin: 0;
    z-index: 1;
}

#pageTop a {
    padding: 8px;
    text-decoration: none;
    background-color: #9FD6D2;
    color: #fff;
    font-weight: bold;
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    z-index: 999999;
    border-radius: 30px;
    position: relative;
}

